
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Passion+One:wght@400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}

body{
    background: #090619;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url();
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width:140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ff004f;
    position:absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top:20%;
    font-size:30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header-text h1 span{
    color:#ff004f;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header-text p span{
    color:#ff004f;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header-text p {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*------------------about------------------*/
#about{
    padding: 80px;
    color: #ababab;
}
.row{
    display:flex;
    justify-content: space-between;
}
.about-col-1{
    flex-basis:35%;
}
.about-col-1 img{
    width:100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis:60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position:relative;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    bottom: -8px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 18px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

.about-col-2 p span{
    color:#ff004f;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.blender{
    margin-top: 30px;
}

.blender a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.7s;
}

.blender a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}

/*--------------------services---------------*/
#services{
    padding: 30px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div p{
    text-decoration: none;
    color:#fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div a{
    text-decoration: none;
    color:#90fc03;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*----------portfolio------------*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 1s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#c03662);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.9s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #073b8f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}

/*---------------contact------------------*/
.contact-left{
    flex-basis: 35%; 
}
.contact-right{
    flex-basis: 60%; 
}
.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color:#ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.7s;
}

.social-icons a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display:  inline-block;
    background: #ff004f;
}

.contact-right form{
    width:100%;
}
form input, form textarea{
    width:100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn3{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: solid #ff004f;
    background: transparent;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn3:hover{
    background: #ff004f;
}

form .btn4{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color:#ff004f;
}

/*----------------css for small screen--------------*/
nav .fa-regular{
    display: none;
}
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url();
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-regular{
        display: block;
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-regular{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}

/*--------------------top button-------------------*/
.container2
{
    width:600px;
    display:flex;
    flex-wrap: wrap;
    justify-content: right;
    font-family: "Passion One", sans-serif;
    font-size: 20px;
}
.container2 .btn8
{
    position:relative;
    width: 155px;
    height: 50px;
    margin: 20px;
}
.container2 .btn8 a{
    position: relative;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: bolder;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(20px); 
}
.container2 .btn8:hover a{
    letter-spacing: 2px;
    color:#000;
}

.container2 .btn8 a::before{
    content:'';
    position: absolute;
    top: 0;
    Left: 0;
    width: 50%;
    height:100%;
    background: linear-gradient(to left,rgba(255,255,255,0.15),transparent);
    transform: skew(45deg) translateX(0);
    transition: 0.5s;
}
.container2 .btn8:hover a::before
{
    transform: skewX(45deg) translateX(200%);
}
.container2 .btn8::before
{
   content: '';
   position: absolute;
   Left: 50%;
   transform: translateX(-50%); 
   bottom: -5px;
   width: 50px;
   height: 10px;
   background: rgb(255, 255, 255);
   border-radius: 10px;
   transition: 0.5s;
   transition-delay: 0s;
}
.container2 .btn8:hover::before{
    bottom:0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.15s;
}


.container2 .btn8:hover a::after
{
    transform: skewX(45deg) translateX(200%);
}
.container2 .btn8::after
{
   content: '';
   position: absolute;
   Left: 50%;
   transform: translateX(-50%); 
   top: -5px;
   width: 50px;
   height: 10px;
   background: rgb(255, 255, 255);
   border-radius: 10px;
   transition: 0.5s;
   transition-delay: 0s;
}
.container2 .btn8:hover::after{
    top:0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.15s;
}
.container2 .btn8:nth-child(1)::before,
.container2 .btn8:nth-child(1)::after
{
    background: #ff004f;
    box-shadow: 0 0 5px #ff004f,
    0 0 15px #ff004f,
    0 0 30px #ff004f,
    0 0 60px #ff004f;
}
/*-------------------loader--------------------*/
.loader {
    --path: #ff004f;
    --dot: #5628EE;
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
  }
  .loader:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: var(--dot);
    top: 37px;
    left: 19px;
    transform: translate(-18px, -18px);
    -webkit-animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  .loader svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  .loader svg rect,
  .loader svg polygon,
  .loader svg circle {
    fill: none;
    stroke: var(--path);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  .loader svg polygon {
    stroke-dasharray: 145 76 145 76;
    stroke-dashoffset: 0;
    -webkit-animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  .loader svg rect {
    stroke-dasharray: 192 64 192 64;
    stroke-dashoffset: 0;
    -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  .loader svg circle {
    stroke-dasharray: 150 50 150 50;
    stroke-dashoffset: 75;
    -webkit-animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  .loader.triangle {
    width: 48px;
  }
  .loader.triangle:before {
    left: 21px;
    transform: translate(-10px, -18px);
    -webkit-animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  @-webkit-keyframes pathTriangle {
    33% {
      stroke-dashoffset: 74;
    }
    66% {
      stroke-dashoffset: 147;
    }
    100% {
      stroke-dashoffset: 221;
    }
  }
  
  @keyframes pathTriangle {
    33% {
      stroke-dashoffset: 74;
    }
    66% {
      stroke-dashoffset: 147;
    }
    100% {
      stroke-dashoffset: 221;
    }
  }
  @-webkit-keyframes dotTriangle {
    33% {
      transform: translate(0, 0);
    }
    66% {
      transform: translate(10px, -18px);
    }
    100% {
      transform: translate(-10px, -18px);
    }
  }
  @keyframes dotTriangle {
    33% {
      transform: translate(0, 0);
    }
    66% {
      transform: translate(10px, -18px);
    }
    100% {
      transform: translate(-10px, -18px);
    }
  }
  @-webkit-keyframes pathRect {
    25% {
      stroke-dashoffset: 64;
    }
    50% {
      stroke-dashoffset: 128;
    }
    75% {
      stroke-dashoffset: 192;
    }
    100% {
      stroke-dashoffset: 256;
    }
  }
  @keyframes pathRect {
    25% {
      stroke-dashoffset: 64;
    }
    50% {
      stroke-dashoffset: 128;
    }
    75% {
      stroke-dashoffset: 192;
    }
    100% {
      stroke-dashoffset: 256;
    }
  }
  @-webkit-keyframes dotRect {
    25% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(18px, -18px);
    }
    75% {
      transform: translate(0, -36px);
    }
    100% {
      transform: translate(-18px, -18px);
    }
  }
  @keyframes dotRect {
    25% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(18px, -18px);
    }
    75% {
      transform: translate(0, -36px);
    }
    100% {
      transform: translate(-18px, -18px);
    }
  }
  @-webkit-keyframes pathCircle {
    25% {
      stroke-dashoffset: 125;
    }
    50% {
      stroke-dashoffset: 175;
    }
    75% {
      stroke-dashoffset: 225;
    }
    100% {
      stroke-dashoffset: 275;
    }
  }
  @keyframes pathCircle {
    25% {
      stroke-dashoffset: 125;
    }
    50% {
      stroke-dashoffset: 175;
    }
    75% {
      stroke-dashoffset: 225;
    }
    100% {
      stroke-dashoffset: 275;
    }
  }
  .loader {
    display: inline-block;
    margin: 0 16px;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
  }
  
  
  *:before, *:after {
    box-sizing: border-box;
  }

  .loader_bg{
    position: fixed;
    z-index: 999999;
    background: #090619;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .loader:first-child{
    --path: #40E2A0;
  }
 .loader:nth-child(3){
  --path:#7CB2E8;
 }
 .loader:nth-child(4){
  --path:#FF69F8;
 }
